<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
<div ng-app="myApp" ng-controller="siteCtrl"> 
	<div class="nav">
	  <div class="ui grid">
	    <div class="four wide column"></div>

	    <div class="eight wide column">
	      <a href="/posts"><h1>myblog</h1></a>
	      <p>my first blog</p>
	    </div>
	  </div>
	</div>
	<div class="nav-setting">
	  <div class="ui buttons">
	    <div class="ui floating dropdown button">
	      <i class="icon bars"></i>
	      <div class="menu">
	        <div ng-if="islogin">
	          <a class="item" href="/posts?author=<%= user._id %>">个人主页</a>
	          <div class="divider"></div>
	          <a class="item" href="/posts/create">发表文章</a>
	          <a class="item" href="/signout">登出</a>
	        </div>
	        <div ng-if="!islogin">
	          <a class="item" href="/signin">登录</a>
	          <a class="item" href="/signup">注册</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui grid">
	  <div class="four wide column"></div>
	  <div class="eight wide column ">
	  
	    <div ng-if="istitle" class="ui success message">
	      <p>尚未登陆</p>
	    </div>
	  
	    <div ng-if="!istitle" class="ui error message">
	      <p>登陆错误</p>
	    </div>
	  
	  </div>
	</div>
	<div class="ui grid">
	  <div class="four wide column"></div>
	  <div class="eight wide column">
	    <form class="ui form segment" >
	      <div class="field required" ng-class="{error:nameerror}">
	        <label>用户名</label>
	        <div class="ui icon input">
	        	<input id="aaa" placeholder="用户名" type="text" ng-model="name" ng-model-options="{ debounce: 600 }">
	        	<i ng-if="isnamed" class="circular checkmark green  icon"></i>
	        	<i ng-if="!isnamed" class="circular remove red  icon"></i>
	        </div>
	      </div>
	      <div class="field required">
	        <label>密码</label>
	        <input placeholder="密码" type="password" ng-model="password">
	      </div>
	      <div class="field required" ng-class="{error:passworderror}">
	        <label>重复密码</label>
	        <input id="bbb" placeholder="重复密码" type="password" ng-model="repassword" ng-model-options="{ debounce: 600 }"  data-content="两次输入的密码不同">
	      </div>
	      <div class="field required">
	        <label>性别</label>
	        <select class="ui compact selection dropdown" ng-model="gender">
	          <option value="m" >男</option>
	          <option value="f">女</option>
	          <option value="x" selected="selected">保密</option>
	        </select>
	      </div>
	      <div class="field required">
	        <label>头像</label>
	        <input id="frmUploadFile" type="file" onchange='angular.element(this).scope().fileChanged(this)'>
	      </div>
	      <div class="field required">
	        <label>个人简介</label>
	        <textarea ng-model="bio" rows="5"></textarea>
	      </div>
	      <button class="ui button fluid" ng-click="signup()" ng-disabled="isnamnameerrored||passworderror">注册</button>
	    </div>
	  </form>
	</div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="js/sha1.js"></script>
<script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="js/style.js"></script>
<script type="text/javascript">

	var app = angular.module('myApp', []);
    app.controller('siteCtrl', function($scope, $http) {
      
      $scope.islogin = false;
      $scope.istitle = false;
      $scope.createnamed = "";
      $scope.gender = "x"
      $scope.$watch('name', function(newValue, oldValue) {
          if (undefined !== $scope.name && "" !== $scope.name){
            $http({
					    method: 'GET',
					    url: 'http://127.0.0.1:3000/signup/hasnamed',
					    params: {name: $scope.name}
						}).success(function (response) {
							var code = response.code;
							if(code == 606){
								$scope.isnamed = false;
								$scope.nameerror = true 
							}else if(code == 666){
								$scope.isnamed = true;
								$scope.nameerror = false  
							}
						});
          }
      });
      $scope.$watch('repassword', function() {
          if ($scope.password != $scope.repassword){
            $scope.passworderror = true      
          }else{
          	$scope.passworderror = false  
          }
      });
      $scope.signup = function(){
      	
      	var data = {
	      	name: $scope.name,
				  password: hex_sha1($scope.password),
				  gender: $scope.gender,
				  bio: $scope.bio
	      };
	      $http({
			    method: 'POST',
			    url: 'http://127.0.0.1:3000/signup/passdata',
			    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
			    transformRequest:function(obj) {       //json化
				      var str = [];
				      for(var p in obj)
				      str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
				      return str.join("&");
				  },
			    data: data
				}).success(function (response) {
					if(response.success == 1){
						
						$scope.createnamed = response.name;
						passimg();
					}
				});
      };
       $scope.fileChanged = function(ele){  //监听上传文件内容变化
          $scope.files = ele.files;
          $scope.$apply(); 
       };
      function passimg() {
      	var formData = new FormData();
      	formData.append('avatar', $scope.files[0],'image.png');
	      $http({
			    method: 'POST',
			    url: 'http://127.0.0.1:3000/signup/passimg?name='+$scope.createnamed,
			    headers: {'Content-Type': undefined},
			    transformRequest:angular.identity,	//input序列化
			    data: formData
				}).success(function (response) {});
      }
    });
    
    
</script>
</html>